@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-outfit);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "Belwe-Bold";
  src: url("/fonts/Belwe/BelweBT-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-patagonia-orange: #f26d21;
  --color-patagonia-pink: #d92545;
  --color-patagonia-blue: #1059ab;
  --color-patagonia-purple: #8a07bd;
  --color-patagonia-black: #000000;
  --color-patagonia-background: #f8f8f8;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}
